.aboutus-title {
  font-family: "Laurentian Std", serif;
  font-style: italic;
  font-size: 3rem;
  color: var(--main-primary);
}

.aboutus-text {
  width: 65%;
  font-size: 1.1rem;
}

.ourstory {
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: var(--main-darkblue);
  padding: 15vh 0 0 0;
}

.ourmission {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: var(--main-darkblue);
  background-color: var(--main-ivory);
}

.ourvalues {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  color: var(--main-darkblue);
  padding: 4rem 0 15vh 0;
}

.values-container {
  height: 50vh;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.values-card {
  width: 22.5%;
  height: 100%;
  background-color: var(--main-offwhite);
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  text-align: center;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
}

.values-img {
  height: 55%;
  object-fit: cover;
}

.padded {
  padding: 0.75rem;
}

.values-title {
  font-weight: 600;
  font-size: 1.15rem;
}

.values-desc {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .aboutus-title {
    font-size: 2.25rem;
  }

  .aboutus-text {
    font-size: 1rem;
  }

  .values-title {
    font-size: 1.05rem;
  }

  .values-desc {
    font-size: 0.85rem;
  }

  .ourstory {
    height: 55vh;
  }

  .ourmission {
    height: 30vh;
  }

  .values-container {
    height: auto;
    flex-direction: column;
  }

  .values-card {
    width: 70%;
    height: 22.5vh;
  }
}

@media (max-width: 450px) {
  .aboutus-text {
    font-size: 0.85rem;
    width: 85%;
  }

  .ourstory {
    height: 60vh;
  }

  .values-title {
    font-size: 0.85rem;
  }

  .values-desc {
    font-size: 0.725rem;
  }

  .values-card {
    width: 65%;
    height: 25vh;
    gap: 0.25rem;
  }

  .values-img {
    height: 50%;
  }
}
