.footer {
  height: 55vh;
  width: 100%;
  background: linear-gradient(135deg, rgb(41, 55, 59), rgb(24, 39, 48));
  padding: 4rem 4rem 1rem 4rem;
  color: var(--main-offwhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 2rem;
  height: 100%;
}

.footer-top-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.footer-links {
  color: var(--main-offwhite);
}

.footer-links:hover {
  color: var(--main-primary);
}

.footer-mid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.policies {
  display: flex;
  gap: 3rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials img {
  height: 2rem;
  width: 2rem;
  object-fit: cover;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
}

.footer-top-section:nth-child(1) {
  width: 35%;
  align-items: center;
  text-align: center;
}

.footer-top-section:nth-child(2),
.footer-top-section:nth-child(3) {
  width: 15%;
}

.footer-top-section:nth-child(4) {
  width: 35%;
}

.footer-main-logo {
  font-family: "Laurentian Std", serif;
  font-style: italic;
  font-size: 3.5rem;
}

.footer-logo-desc {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    font-size: 0.85rem;
    height: 35vh;
  }

  .footer-top {
    gap: 2rem;
    padding-bottom: 1rem;
  }

  .footer-title {
    font-size: 1rem;
  }

  .footer-mid {
    margin-bottom: 0.5rem;
  }

  .footer-bottom {
    font-size: 0.65rem;
  }

  .footer-main-logo {
    font-size: 2.5rem;
  }

  .footer-logo-desc {
    font-size: 0.9rem;
  }

  .socials img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media (max-width: 450px) {
  .footer,
  .footer-links {
    font-size: 0.65rem;
  }

  .footer {
    height: 40vh;
  }

  .footer-title {
    font-size: 0.75rem;
  }

  .footer-bottom {
    font-size: 0.5rem;
  }

  .footer-main-logo {
    font-size: 2.25rem;
  }

  .footer-logo-desc {
    font-size: 0.8rem;
  }

  .socials img {
    height: 1.25rem;
    width: 1.25rem;
  }

  .footer-mid {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
