.footer {
  height: 50vh;
  width: 100%;
  background: linear-gradient(135deg, rgb(41, 55, 59), rgb(24, 39, 48));
  padding: 4rem 4rem 1rem 4rem;
  color: var(--main-offwhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-bottom: 2rem;
  height: 100%;
}

.footer-top-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.footer-links {
  color: var(--main-offwhite);
}

.footer-links:hover {
  text-decoration: underline;
}

.footer-mid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.policies {
  display: flex;
  gap: 3rem;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials img {
  height: 75%;
  object-fit: cover;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.85rem;
}
