body {
  height: 500vh;
  width: 100vw;
  overflow-x: hidden;
}

.landing {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12.5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5rem;
  z-index: 15;
  transition: all 0.3s ease;
}

.logo-div {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-img {
  height: 45%;
  object-fit: contain;
}

.logo-div a {
  font-size: 3.5rem;
}

.links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

.nav-links {
  font-family: Laurentian Std It;
  color: var(--main-offwhite);
  font-size: 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.links a:hover {
  background-color: rgba(255, 254, 249, 0.15);
}

.landing-main {
  padding-top: 12.5vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--main-offwhite);
  z-index: 10;
  gap: 0.75rem;
}

.main-text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.main-title {
  font-family: Laurentian Std It;
  font-size: 3rem;
}

.main-desc {
  font-size: 1.15rem;
}

.main-btn {
  background-color: transparent;
  border: 0.15rem solid var(--main-offwhite);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--main-offwhite);
  transition: all 0.3s;
}

.main-btn:hover {
  background-color: var(--main-offwhite);
}

.main-btn:hover {
  color: var(--main-darkblue);
}

.landing-bottom {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.down-arrow {
  height: 30%;
  object-fit: contain;
  animation: bounce 1.5s ease-in-out infinite;
}

.showcase {
  position: relative;
  width: 100%;
  height: 240vh;
  background-color: beige;
}

.section-gap {
  height: 10vh;
  width: 100%;
  background-color: var(--main-beige);
}

.showcase p {
  color: var(--main-offwhite);
  z-index: 5;
}

.showcase-subsect1,
.showcase-subsect2,
.showcase-subsect3 {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 4rem 6rem;
}

.showcase-title {
  font-size: 3rem;
  font-family: Laurentian Std It;
}

.showcase-desc {
  font-size: 1.25rem;
  width: 60%;
}

.showcase-subsect1 {
  background-image: url("../images/luxury/1.jpg");
}

.showcase-subsect2 {
  background-image: url("../images/yacht/1.png");
  text-align: right;
  align-items: flex-end;
}

.showcase-subsect3 {
  background-image: url("../images/expedition/1.jpg");
}
