@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://db.onlinewebfonts.com/a/UyrHp0bq3yfz11N7puodw0uQcq6vQ3a2z6lr20yq");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-darkblue: #05263d;
  --main-offwhite: #fffef9;
  --main-beige: #f6f5ed;
}

body {
  font-family: "Poppins", serif;
  transition: all 0.5s;
  background-color: var(--main-beige);
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(144, 120, 86, 0.5),
    rgba(84, 125, 156, 0.25)
  );
  z-index: 1;
}

.black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(68, 59, 40, 0.25);
  z-index: 1;
}
