.form-section {
  padding: 10vh 0;
  color: var(--main-darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  height: 80%;
  width: 55%;
  background-color: var(--main-offwhite);
  border-radius: 2rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
  gap: 2rem;
}

.subscription-form {
  width: 100%;
  height: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-element-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.form-title {
  font-size: 2.75rem;
  font-family: "Laurentian Std", serif;
  font-style: italic;
  color: var(--main-primary);
}

.form-label {
  font-size: 1.25rem;
}

.form-input {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.1rem solid #999999;
  transition: all 0.3s ease;
  font-family: inherit;
}

.form-input:focus,
.password-input-container:hover {
  border-color: var(--main-primary);
  outline: none;
}

.errormsg {
  color: rgb(213, 84, 84);
  font-size: 1rem;
  min-height: 1.5rem;
}

.form-btn {
  width: 50%;
  background-color: var(--main-primary);
  padding: 0.75rem;
  border-radius: 1rem;
  transition: all 0.3s;
  font-size: 1.25rem;
  color: var(--main-offwhite);
  border: none;
  transition: all 0.3s;
}

.form-btn:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

.password-input-container {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #999999;
  transition: all 0.3s ease;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.password-input-container input {
  font-size: 1rem;
  background-color: transparent;
  font-family: inherit;
  border: none;
  outline: none;
}

.show-pass-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.show-pass-btn:hover {
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.checkbox {
  accent-color: var(--main-primary);
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}

.checkbox-label {
  font-size: 1rem;
}

.checkbox-label a {
  color: var(--main-primary);
}

.checkbox-label a:hover {
  text-decoration: underline;
}

.form-element-row-container {
  width: 100%;
  display: flex;
}

.form-element-row-container > div {
  align-items: center;
}

.gap-2rem {
  gap: 2rem;
}

.horizontal-line {
  width: 90%;
  height: 0.01rem;
  background-color: #999999;
}

.tac {
  text-align: center;
}

@media (max-width: 768px) {
  .form-container {
    width: 85%;
    gap: 1rem;
  }

  .form-title {
    font-size: 2.25rem;
  }

  .form-label,
  .form-btn {
    font-size: 1rem;
  }

  .errormsg {
    min-height: 1.25rem;
  }

  .password-input-container input,
  .checkbox-label,
  .form-input,
  .errormsg {
    font-size: 0.85rem;
  }

  .checkbox {
    height: 0.85rem;
    width: 0.85rem;
  }
}

@media (max-width: 450px) {
  .form-element-row-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .form-container {
    padding: 1.5rem 2rem;
  }
}
